<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Image Manipulation App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li role="presentation" class="btn btn-light mr-1"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="btn btn-light"><a href="https://github.com/leourl">Project</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask Image Manipulation App</h3>

        </div>

        <div class="jumbotron p-3">
            <h1>Upload your image</h1>
            <p class="lead">Please select vertical em horizontal artwork</p>
            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group row p-2">
                    <label for="file-picker" class="col-sm-3">Select the <strong>vertical</strong> Art</label>
                    <div class="col-sm-9">
                        <input class="float-left" id="file-picker" type="file" name="file" accept="image/*">
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-sm">Submit</button>
            </form>
        </div>
        {% block processing %}{% endblock %}
        <footer class="footer">
            <p>&copy; Leonardo Santana. Using Python, Flask and PIL.</p>
        </footer>

    </div>
</body>

</html>