{% extends "index.html" %}
{% block processing %}
<div class="row mb-5">
    <div class="col-lg-8">
        <div id="image-container">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 200px;">
        </div>
    </div>
    <div class="col-lg-4">
        <h4>Selecione os territórios</h4>
        <form id="form-flip" action="{{ url_for('export') }}" method="POST" enctype="multipart/form-data">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label mr-3" for="exampleRadios1">
                  Brazil
                </label>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
                <label class="form-check-label" for="exampleRadios2">
                  Mexico
                </label>
              </div>
            <div class="border rounded form-check pl-0 mt-3 mb-3">
                <ul class="pb-0 pl-4 m-3" style="list-style-type:none">
                    <li> <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Plataforma1
                        </label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Plataforma2
                        </label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                            Plataforma3
                        </label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">
                            Plataforma4
                        </label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label" for="defaultCheck5">
                            Plataforma5
                        </label>
                    </li>
                </ul>
            </div>
        </form>
        <button id="btnFlipV" class="btn btn-lg btn-primary" type="submit" name="mode"
        value="vertical">Export</button>
    </div>
</div>
{% endblock %}